*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: poppins;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
} 
header{
    position: sticky;
    top: 0;
    background: #ffffff;

}
nav{
    padding: 1rm;
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: space-between;

}
nav h1{
    padding-left: 5rem;
}
nav ul{
    display: flex;
    gap: 20px;
}

a{
 text-decoration: none;
}
ul{
    list-style:none ;
}

body{
    margin: 0;
    padding: 0;
    background: url(../images/fivver.jpg) no-repeat;
    background-size: cover;
  }
  .box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: rgb(255, 255, 255);
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    width: 200px;
    height: 200px;
  }
  .box h3{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h4{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }
  ol{
    align-content: left;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }
  